<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/break/break.css">
    <title>CodeBreaker</title>
</head>
<body>
    <div class="container">
        <h1>Codebreaker</h1>
        <section class="container select" id="select-box">
            <div class="circle red" id="red"></div>
            <div class="circle blue" id="blue"></div>
            <div class="circle green" id="green"></div>
            <div class="circle yellow" id="yellow"></div>
            <div class="circle black" id="black"></div>
            <div class="circle white" id="white"></div>
        </section>
        <hr>
        <section class="display">
            <div class="att-1">
                <div class="guess">
                    <div class="circle not-selected first"></div>
                    <div class="circle not-selected second"></div>
                    <div class="circle not-selected third"></div>
                    <div class="circle not-selected fourth"></div>
                </div>
                <div class="result">
                    <div class="small-circle not-selected"></div>
                    <div class="small-circle not-selected"></div>
                    <div class="small-circle not-selected"></div>
                    <div class="small-circle not-selected"></div>
                </div>
            </div>
            <div class="att-2">
                <div class="guess">
                    <div class="circle not-selected first"></div>
                    <div class="circle not-selected second"></div>
                    <div class="circle not-selected third"></div>
                    <div class="circle not-selected fourth"></div>
                </div>
                <div class="result">
                    <div class="small-circle not-selected"></div>
                    <div class="small-circle not-selected"></div>
                    <div class="small-circle not-selected"></div>
                    <div class="small-circle not-selected"></div>
                </div>
            </div>
            <div class="att-3">
                <div class="guess">
                    <div class="circle not-selected first"></div>
                    <div class="circle not-selected second"></div>
                    <div class="circle not-selected third"></div>
                    <div class="circle not-selected fourth"></div>
                </div>
                <div class="result">
                    <div class="small-circle not-selected"></div>
                    <div class="small-circle not-selected"></div>
                    <div class="small-circle not-selected"></div>
                    <div class="small-circle not-selected"></div>
                </div>
            </div>
            <div class="att-4">
                <div class="guess">
                    <div class="circle not-selected first"></div>
                    <div class="circle not-selected second"></div>
                    <div class="circle not-selected third"></div>
                    <div class="circle not-selected fourth"></div>
                </div>
                <div class="result">
                    <div class="small-circle not-selected"></div>
                    <div class="small-circle not-selected"></div>
                    <div class="small-circle not-selected"></div>
                    <div class="small-circle not-selected"></div>
                </div>
            </div>
            <div class="att-5">
                <div class="guess">
                    <div class="circle not-selected first"></div>
                    <div class="circle not-selected second"></div>
                    <div class="circle not-selected third"></div>
                    <div class="circle not-selected fourth"></div>
                </div>
                <div class="result">
                    <div class="small-circle not-selected"></div>
                    <div class="small-circle not-selected"></div>
                    <div class="small-circle not-selected"></div>
                    <div class="small-circle not-selected"></div>
                </div>
            </div>
            <div class="att-6">
                <div class="guess">
                    <div class="circle not-selected first"></div>
                    <div class="circle not-selected second"></div>
                    <div class="circle not-selected third"></div>
                    <div class="circle not-selected fourth"></div>
                </div>
                <div class="result">
                    <div class="small-circle not-selected"></div>
                    <div class="small-circle not-selected"></div>
                    <div class="small-circle not-selected"></div>
                    <div class="small-circle not-selected"></div>
                </div>
            </div>
            <div class="att-7">
                <div class="guess">
                    <div class="circle not-selected first"></div>
                    <div class="circle not-selected second"></div>
                    <div class="circle not-selected third"></div>
                    <div class="circle not-selected fourth"></div>
                </div>
                <div class="result">
                    <div class="small-circle not-selected"></div>
                    <div class="small-circle not-selected"></div>
                    <div class="small-circle not-selected"></div>
                    <div class="small-circle not-selected"></div>
                </div>
            </div>
            <div class="att-8">
                <div class="guess">
                    <div class="circle not-selected first"></div>
                    <div class="circle not-selected second"></div>
                    <div class="circle not-selected third"></div>
                    <div class="circle not-selected fourth"></div>
                </div>
                <div class="result">
                    <div class="small-circle not-selected"></div>
                    <div class="small-circle not-selected"></div>
                    <div class="small-circle not-selected"></div>
                    <div class="small-circle not-selected"></div>
                </div>
            </div>
            <div class="att-9">
                <div class="guess">
                    <div class="circle not-selected first"></div>
                    <div class="circle not-selected second"></div>
                    <div class="circle not-selected third"></div>
                    <div class="circle not-selected fourth"></div>
                </div>
                <div class="result">
                    <div class="small-circle not-selected"></div>
                    <div class="small-circle not-selected"></div>
                    <div class="small-circle not-selected"></div>
                    <div class="small-circle not-selected"></div>
                </div>
            </div>
            <div class="att-10">
                <div class="guess">
                    <div class="circle not-selected first"></div>
                    <div class="circle not-selected second"></div>
                    <div class="circle not-selected third"></div>
                    <div class="circle not-selected fourth"></div>
                </div>
                <div class="result">
                    <div class="small-circle not-selected"></div>
                    <div class="small-circle not-selected"></div>
                    <div class="small-circle not-selected"></div>
                    <div class="small-circle not-selected"></div>
                </div>
            </div>
            <button class="submit btn" disabled id="submit">Submit Round</button>
            <button class="clear btn" disabled id="clear-round">Clear current row</button>
        </section>
        <hr>
        <section id="solution" class="popup-container hidden">
            <div id="sol-popup" class="popup hidden">
                <h1 id="header">Header</h1>
                <br>
                <h3 id="sub-header">Description</h3>
                <h3>Solution:</h3>
                <div class="solution">
                    <div class="circle not-selected"></div>
                    <div class="circle not-selected"></div>
                    <div class="circle not-selected"></div>
                    <div class="circle not-selected"></div>
                </div>
                <button id="restart" class="btn">New Game</button>
            </div>
        </section>
    </div>
    <script src="/break/break.js"></script>
</body>
</html>