<%- include("../partials/header") %>

<div class="ui center container">
    <h1>Login</h1>

    <form action="/kk/login" method="POST">
        <div class="field">
            <div>
                <label>Username</label>
            </div>
            <div class="ui large input">
                <input type="text" name="username" placeholder="username" required />
            </div>
        </div>
        <br>
        <div class="field">
            <div>
                <label>Password</label>
            </div>
            <div class="ui large input">
                <input type="password" name="password" placeholder="password" title="8 to 16 characters" required pattern=".{8,16}" />
            </div> 
        </div>
        <br>
        <div class="field">
            <div class="ui large input">
                <button name="login" class="ui <% color() %> button">Login</button>
            </div>
        </div>
    </form>
    <div>
        <a href="/kk/forgot">Forgot Password</a>
    </div>
    <br>
    <div>
        <a href="/kk/register">Don't have an account? Sign up for free now!</a>
    </div>
</div>

<% function color(){ %>
    <% if(currentUser){ %>
        <%= currentUser.color %>
    <% } else { %>
        blue 
    <% } %>
<% } %>
<%- include("../partials/footer") %>